<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<h1>profile</h1>


<a href="/home/logout">
    <button>Cerrar sesión</button>
</a>

<%- include('../compartido/footer/footer-component')%>