<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title><%=titulo%> | MrJob</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="icon" href="/resources/icons/iconoMrJobs.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <%if(controlador == 'signup' || controlador == 'login') {%>
        <body id="fondoLoginSignup">
    <%}else if(controlador == 'home'){%>
        <body class="fondoHome">
    <%}else{%>
        <body>
    <%}%>

