body > nav > a.navbar-brand{
    font-weight: bold !important;
    font-size: 40px !important;
}

#navbars > ul > li > a > button{
    font-weight: bold !important;
}


body{
    background-color: #98BBE1;
}

#fondoLoginSignup {
    background-image: url(/resources/images/fondoLoginSignup.png);
    background-position: center;
    background-size: contain;
    position: center;
}

img.fondoHome {
    width: 100%;
}

h1.formularioTitulo{
    text-align:center
}


.tituloHome{
    font-weight: bold;
    font-size: 50px;
    text-align: left;
}

.subtituloHome{
    font-size: 20px;
    text-align: left;
}

.btn-home-buscar-empleo{
    border-radius: 50px 50px 50px 50px;
}

.border-2{
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
    background-color: white;
}

.jumbotron-titulo{
    font-weight: normal ;
    font-size: 40px ;
    text-align: center;
}


.a-no-underline{
    text-decoration: none;
    color: black;
}
.a-no-underline:hover{
    text-decoration: none;
    color: #17a2b8;
}

.border-1{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0%;
}

.hr-card-empleo{
    width: 25%;
    background-color: black;
    margin-left: 0px;
}

.card-text-title{
    font-weight: bold !important;
    font-size: 120%;

}

.border-1-navbar{
    border-radius: 0%;
}
