<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<h1>CurrentUser: <%=currentUser%></h1>
<h1>publicar</h1>





<%- include('../compartido/footer/footer-component')%>